.headingColor{
    color: #1D1AA7;
}
.mainContent{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff90;
    border-radius: 1rem;
    min-height: 50%;
    max-height: max-content;
    /* border: 1px solid black; */
    min-width: 50%;
    max-width: 90%;
    margin: auto;
}
.mainContent button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #1D1AA7;
    color: #ffffff;
    border-radius: 69px;
    width: 200px;
}
.mainContent button a{
    color: #ffffff;
    text-decoration: none;
}
.bgCarousel{
    width: 100%;
    /* height: 87%; */
}
.bgCarousel img{
    width: 100vw;
    height: 100vh;
    filter: brightness(60%);
}